doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Resultados de búsqueda
    body
        h1 Resultados de búsqueda
        if usuarios.length > 0
            ul
                each usuario in usuarios
                    li
                        h2 Cédula: #{usuario.cedula}
                        p Nombre: #{usuario.nombre} #{usuario.apellidos}
                        p Email: #{usuario.email}
                        p Fecha de nacimiento: #{usuario.fecha_nacimiento}
                        p Teléfono: #{usuario.telefono}
                        p Ciudad: #{usuario.ciudad}
        else
            p No se encontraron resultados.


